<!DOCTYPE html>

<html lang="en">
	<head>
		<title>NewsPix Analytics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/admin-panel.css" />
	</head>
	<body>
		
		<!-- Title -->
		<div class="intro-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1><img class='logo' src='../static/img/logos/newspix.png' height='100px' width='100px'> Analytics</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a class="btn btn-primary btn-lg" href="/admin" role="button">Admin panel</a>
					</div>
				</div>
			</div>
		</div>

		<div class="content-section-b">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Aggregate data</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<p class="lead">Total views: {{analytics.loads}}</p>
					</div>
					<div class="col-md-4">
						<p class="lead">Total clicks: {{analytics.clicks}}</p>
					</div>
					<div class="col-md-4">
						<p class="lead">Average clickthrough rate: {{analytics.clickthrough}}%</p>
					</div>
				</div>
			</div>
		</div>

		<div class="content-section-b">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Stories</h2>
						<div class="table-responsive">
							<table id='analytics_table' class="table table-striped">
								<colgroup>
									<col class="col-md-3">
									<col class="col-md-2">
									<col class="col-md-3">
									<col class="col-md-1">
									<col class="col-md-1">
									<col class="col-md-2">
								</colgroup>
								<thead>
									<tr>
										<th>Caption</th>
										<th>Image</th>
										<th>Active Dates</th>
										<th data-sort="int" class='sortable_header'>Impressions</th>
										<th data-sort="int" class='sortable_header'>Clicks</th>
										<th data-sort="float" class='sortable_header'>Clickthrough Rate</th>
									</tr>
								</thead>
								<tbody>
									{% for story in stories %}
									<tr>
										<td><a href="{{story.storyURL}}">{{story.headline}}</a></td>
										<td><a href="{{story.imageURL}}"><img src="{{story.imageURL}}" class="list-thumbnail"></a></td>
										<td>{{story.formatedFromDate}} - {{story.formatedToDate}}</td>
										<td>{{story.loadCount}}</td>
										<td>{{story.clickCount}}</td>
										<td>{{story.clickthrough}}%</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->
		<script type="text/javascript" src="../static/lib/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src='../static/js/stupidtable.js'></script>
		<script type="text/javascript">
			$("#analytics_table").stupidtable();
		</script>
	</body>
</html>