<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Thank you for installing NewsPix</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/oninstall.css" />
	</head>
	<body>
		<div class="intro-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="intro-message">
							<h2 class="section-heading">Thank you for installing NewsPix for the Keene Sentinel</h2>
							<p class="lead">
								Each time you open a new tab, NewsPix will display a random headline from the Keene Sentinel. You can try it out now by opening a new tab!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar navbar-fixed-bottom">
			<div class="content-section-a">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p>
								<a href="http://dev.newspix.today/">NewsPix</a> is a suite of apps that drive engagement in local news through pictures and visualizations. 
								It is conceived and developed by Matt Carroll, Catherine D'Ignazio and Jay Vachon.
							</p>
						</div>
					</div>
					<div class="row">
						<hr class="clearfix">
						<div class="clearfix"></div>
						<div class="col-lg-12">
							<ul class="list-inline intro-social-buttons">
								<li><a href="https://www.media.mit.edu/special/groups/future-of-news" class="btn btn-default btn-lg"><img src="/static/img/logos/fon.jpg"></a></li>
								<li><a href="http://elab.emerson.edu/" class="btn btn-default btn-lg"><img src="/static/img/logos/el.png"></a></li>
								<li><a href="https://www.media.mit.edu/" class="btn btn-default btn-lg"><img src="/static/img/logos/mit_media_lab.png"></a></li>
								<li><a href="https://civic.mit.edu/" class="btn btn-default btn-lg"><img src="/static/img/logos/civicmit.png"></a></li>
								<li><a href="http://www.sentinelsource.com/" class="btn btn-default btn-lg"><img src="/static/img/logos/sentinelsource.png"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p>
								Copyright © MIT Media Lab & Emerson Engagement Lab 2015. All Rights Reserved
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>