{% macro list(title, stories, date) -%}
<div class="row">
	<div class="col-md-12">
		<h2>{{ title }} stories</h2>
		{% if stories|length == 0 %}
		<p>No stories to display</p>
		{% else %}
		<!-- <h3>{{ date }}</h3> -->
		<div class="table-responsive">
			<table class="table table-striped">
				<colgroup>
					<col class="col-md-2">
					<col class="col-md-2">
					<col class="col-md-3">
					<col class="col-md-3">
					<col class="col-md-1">
				</colgroup>
				<thead>
					<tr>
						<th>Caption</th>
						<th>Active dates</th>
						<th class="col-overflow">Story URL</th>
						<th class="col-overflow">Image URL</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					{% for story in stories %}
					<tr>
						<td>{{story.headline}}</td>
						<td>{{story.formatedFromDate}} - {{story.formatedToDate}}</td>
						<td class="col-overflow">{{story.storyURL}}</td>
						<td class="col-overflow">{{story.imageURL}}</td>
						<td>
							<form name='Delete Story', method='POST' action='/delete_story/{{story._id}}' onsubmit='return confirm("Are you sure you want to delete this story?");'>
							<button type='submit'>delete</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
	</div>
</div>
{%- endmacro %}