
.intro-header {
	margin: 20px 0;
}

.intro-header h1 {
	text-align: center;
	background: #EEEEEE;
	color: #000;
	padding: 30px;
}

.content-section-b h2 {
	margin-top: 60px;
	margin-bottom: 20px;
}

.content-section-d {
	background-color: #EEEEEE;
	margin-top: 60px;
}

.content-section-d footer {
	padding: 40px 0;
}

.col-overflow {
	max-width: 100px;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-thumbnail {
	max-height: 60px;
}

.sortable_header {
	color: #58A4DD;
}

.sortable_header:hover {
	cursor: pointer;
	opacity: 0.6;
}

.logo {
	border-radius: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.center {
	text-align: center;
}