
.intro-header {
	margin: 20px 0;
}

.intro-header h1 {
	text-align: center;
	background: #EEEEEE;
	color: #000;
	padding: 30px;
}

.content-section-b h2 {
	margin-top: 60px;
	margin-bottom: 20px;
}

.content-section-c {
	background-color: #EEEEEE;
	margin-top: 60px;
}

.content-section-c footer {
	padding: 40px 0;
}

.col-overflow {
	max-width: 100px;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}