[app]
admin_username:
admin_password:

[db]
db:
host: 
user: 
pass: 
name: 
port: 27017
auth_db:
stories: stories
collection_organizations: organizations
collection_installations: installations
collection_clicks: clicks

