[app]
admin_username:
admin_password:

[db]
host: 
user: 
pass: 
name: newspix
port: 27017
auth_db:
collection_stories: stories
collection_organizations: organizations
collection_installations: installations
